/*External CSS*/

/*Global CSS Variables*/
:root{
/*--colorRed: ;*/
--primaryColor:#e5989b;
--secondaryColor:#b5838d;
--accentColor:#6d6875;
--colorWhite: #fff;
--colorBlack: #000;
}

/*body is a CSS Selector*/
/*{} indicates a CSS Declaration*/
body{
  /*property:value; is a CSS Rule*/
  margin:0;
  /*background-color:var(--colorRed);*/
}

header{
  border-bottom:  5px solid var(--primaryColor);
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style-type: none;
  gap: 20px;
}

main{
  height: 100vh;
}

.blimedcard{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blimedcard >button{
  background-color: var(--primaryColor);
  color: var(--colorWhite);
}

.blimedcard >button:hover {
  background-color: var(--secondaryColor);
}



footer{
  border-top: 5px solid var(--primaryColor);
}
